tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf
torchmetrics 
einops
plyfile
pygltflib 
dearpygui 
# for stable-diffusion
huggingface_hub
diffusers
accelerate
transformers 
xatlas
trimesh
PyMCubes
pymeshlab

rembg[gpu,cli] 
mediapy
gradio
tyro
nerfacc 
kiui
fast_simplification
fpsample
git+https://github.com/NVlabs/nvdiffrast/