tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf
torchmetrics 
einops
plyfile
pygltflib 
dearpygui  
huggingface_hub
diffusers
accelerate
transformers 
xatlas
trimesh
PyMCubes
pymeshlab
kornia
rembg[gpu,cli] 
mediapy
gradio
tyro
nerfacc 
kiui
fast_simplification
fpsample
pytorch_lightning
open-clip-torch 
invisible-watermark 
open3d